Bonjour {{nom}},<br>


<p>Vous trouverez ci-joint, la facture liée à l'achat de votre abonnement Mandareen Pro.</p>

<p>Pour plus d'informations, n'hésitez pas à contacter notre support Mandareen à l'adresse suivante : contact.mandareen@gmail.com.</p>

<p>A très bientôt,</p>

<img width="50" height="50" src="https://pro.mandareen.fr/assets/img/favicon.ico"/> L'équipe Mandareen
