<h3>Nouvelle inscription - PRO</h3><br/>

<p>Informations du professionnel :</p>
<p>Nom du professionnel : {{nom}}</p>
<p>Adresse e-mail : {{email}}</p><br/>

<p>________________________</p>
<p>Effectué le : {{date}}</p>
