Bonjour {{nom}},<br>


<p>Votre abonnement {{sub}} sera expiré le {{date}}.</p>
<p>N'oubliez pas de reprendre un abonnement; dans le cas où vous ne renouvèleriez pas votre abonnement, vos patients ne pourront plus se connecter à l'application Mandareen.</p>

<p>Pour plus d'informations, n'hésitez pas à contacter notre support Mandareen à l'adresse suivante : contact.mandareen@gmail.com.</p>

<p>A très bientôt,</p>

<img width="50" height="50" src="https://pro.mandareen.fr/assets/img/favicon.ico"/> L'équipe Mandareen
