Bonjour {{nom}},<br>


<p>Votre abonnement est activé.</p>
<p>Vous pouvez maintenant utiliser la plateforme Mandareen.</p>

<p>Pour plus d'informations, n'hésitez pas à contacter notre support Mandareen à l'adresse suivante : contact.mandareen@gmail.com.</p>

<p>A très bientôt,</p>

<img width="50" height="50" src="https://pro.mandareen.fr/assets/img/favicon.ico"/> L'équipe Mandareen
