<h3>Bug Report - PATIENT</h3><br/>

<p>Explication du bug :</p>
<p>{{explication}}</p><br/>

<p>Cheminement du bug :</p>
<p>{{cheminement}}</p><br/>

<p>________________________</p>
<p>Effectué le : {{date}}</p>
